.border{
    border-color: #013a63 !important;
}

body{
    background-color: #c5fab3;
}
header .navbar{
    background-color: #024270 !important;
}
main{
    flex: 1 0 auto;
    margin-bottom: 20px;
}
.footer{
    background-color: #024270 !important;
}
.hidden{
    display: none;
}
.title{
    color: rgb(7, 7, 195);
}
.big{
    font-size: 3em;
}